# AI 학습 데이터 전처리

## 오류 유형
1. 숫자 사이에 띄어쓰기가 들어가 있음                              
2. 숫자 사이에 문자가 들어가 있는 경우 (뒤에는 완벽하게 숫자 4자리)  
3. 서수로 표현되어 있는 경우(object 인식)                          
4. 숫자가 3자리만 인식된 경우 or 숫자가 5자리 인식된 경우           
5. 숫자가 아닌 한글로 인식된 경우 or 한글과 숫자가 동시에 인식된 경우 

### **전처리를 먼저 수행한 뒤, 숫자 4자리를 만족시키지 못하는 것들을 제거한다.**

## 전처리로 고칠 유형 -> [1,2,3]
## 삭제할 유형 -> [4,5]

In [9]:
import pandas as pd
import re

df = pd.read_excel("./data/text/최종.xlsx")
df = df.rename_axis('index').reset_index()
display(df)
# 한번에 어플라이로 적용은 불가능
# df.groupby("label").get_group(4).apply(lambda x : re.sub(r'(.)(\d)\s(\d)\s(\d)\s(\d)', r'\1\2\3\4\5', x))


# 새로운 컬럼을 만들어서 하는 수 밖에
data = df.groupby("label").get_group(4)
data['tt'] = data['text'].apply(lambda x : re.sub(r'(.)(\d)\s(\d)\s(\d)\s(\d)', r'\1\2\3\4\5', x))                      
display(data)

# 일단 저장해서 보자
# data.to_excel("./data/text/전처리과정.xlsx")

     index         text intent  label
0        0        운행시작해   운행시작      0
1        1       운행시작하자   운행시작      0
2        2         운행하자   운행시작      0
3        3          운행해   운행시작      0
4        4     운행시작해주세요   운행시작      0
..     ...          ...    ...    ...
661    661         배달 끝   배달완료      6
662    662     음식 배달 완료   배달완료      6
663    663  음식 배달 완료 했어   배달완료      6
664    664    음식 배달 끝냈어   배달완료      6
665    665    음식 배달 끝났어   배달완료      6

[666 rows x 4 columns]

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

     index        text intent  label          tt
151    151  영수증번호 6066  영수증번호      4  영수증번호 6066
152    152  영수증번호 9937  영수증번호      4  영수증번호 9937
153    153  영수증번호 5642  영수증번호      4  영수증번호 5642
154    154  영수증번호 8522  영수증번호      4  영수증번호 8522
155    155  영수증번호 4402  영수증번호      4  영수증번호 4402
..     ...         ...    ...    ...         ...
644    644   뒷자리 8,000  영수증번호      4   뒷자리 8,000
645    645    뒷자리 9244  영수증번호      4    뒷자리 9244
646    646     뒷자리 785  영수증번호      4     뒷자리 785
647    647    뒷자리 7858  영수증번호      4    뒷자리 7858
648    648    뒷자리 4918  영수증번호      4    뒷자리 4918

[131 rows x 5 columns]

In [10]:
# 전처리 함수
# 정 안되면 리스트를 만들어 지우는 수 밖에

def re_sub(df):
    check_list = []
    for idx in (df['tt']):
        
        #전처리
        idx = re.sub(r',', '', idx) # 8,000 -> 8000
        
        # 삭제할 키워드 찾기
        check_point = idx[-4:]
        m = re.match('\d\d\d\d', check_point)
        # 삭제할 키워드이면 리스트 추가   영수증번호 8944 -> 영수증번호 894 / 일층2층
        if m == None:
            print(idx)
            print(df['index'])
            
            

# 바로 드롭해보기
#             df.drop(df.index(idx), axis=0, inplace=True)
#             df.drop(idx.index, axis=0, inplace=True)
            
            
# 해당 인덱스를 먼저 찾아서 삭제해보기
#             print(df.index(idx))
#             print(idx.index)
            
            
            
# 이거는 리스트로 담아서 삭제하기 시도
#             check_list.append(df['tt'].index.values)
# #             check_list.append(idx)
#     print(check_list)

re_sub(data)

영수증 번호 978
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
영수증 번호 705
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
주문 번호 905
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
주문 번호 371
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
뒷자리 440
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
뒷자리 746
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
뒷자리 737
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
영수증 번호 978
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
영수증 번호 229
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
주문북로 375
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
전화번호 6시로
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
일산 2층 3층
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
이제 자리 방청후기
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64
뒷자리 785
151    151
152    152
153    153
154    154
155    155
      ...
644    644
645    645
646    646
647    647
648    648
Name: index, Length: 131, dtype: int64