In [2]:
import pandas as pd
import numpy as np

## 배달관련 데이터 확인

In [3]:
# 배달 관련 데이터 확인   //    # ./fusion/data/delivery

delivery_shop = pd.read_csv('./data/delivery/배달 상점 데이터.csv', header=None)
delivery_shop.columns = ['상점ID', '업종명', '상점코드', '시도명', '구군명', '읍면동명', '법정동리명', '행정동코드', '행정동 읍면동명', '도로명주소코드', '도로명']

# delivery_loc = pd.read_csv('./data/delivery/배달자 위치정보 데이터.csv')

delivery_time_mean = pd.read_csv('./data/delivery/시간-지역별 배달 소요시간평균.csv', header=None)
delivery_time_mean.columns = ['날짜', '시간', '도', '시구', '평균시간']

delivery_time_order_count = pd.read_csv('./data/delivery/시간-지역별 배달 주문건수.csv', header=None)
delivery_time_order_count.columns = ['날짜', '시간', '도', '시구', '주문건수']

delivery_time_pay_mean = pd.read_csv('./data/delivery/시간-지역별 배달 평균주문금액.csv', header=None)
delivery_time_pay_mean.columns = ['날짜', '시간', '도', '시구', '평균주문금액']

delivery_job_order_count = pd.read_csv('./data/delivery/업종-지역별 배달 주문건수.csv', header=None)
delivery_job_order_count.columns = ['날짜', '업종', '도', '시', '주문건수']

delivery_job_time_mean = pd.read_csv('./data/delivery/업종-지역별 평균배달소요시간.csv', header=None)
delivery_job_time_mean.columns = ['날짜', '업종', '도', '시', '평균시간']

delivery_job_pay_mean = pd.read_csv('./data/delivery/업종-지역별 평균주문금액.csv', header=None)
delivery_job_pay_mean.columns = ['날짜', '업종', '도', '시', '평균주문금액']

delivery_hum = pd.read_csv('./data/delivery/주문지역 인구 특성.csv', header=None)
delivery_hum.columns = ['기준연월', '시군구코드', '시도명', '시군구명', '5세단위구분', '총인구수', '남성인구수', '여성인구수']

In [4]:
print("배달 상점 데이터") # 상점ID / 업종명 / 상점코드 / 시도명/ 구군명 / 은면동명/ 법정동리명 / 행정동코드 /행정동 읍면동명 / 도로명주소코드 / 도로명 
display(delivery_shop.head())
print("시간-지역별 배달 소요시간평균") # 날짜 / 시간 / 도 / 시구 / 평균시간
display(delivery_time_mean.head())
print("시간-지역별 배달 주문건수") # 날짜 / 시간 / 도 / 시구 / 주문건수
display(delivery_time_order_count.head())
print("시간-지역별 배달 평균주문금액") # 날짜 / 시간 / 도 / 시구 / 평균주문금액
display(delivery_time_pay_mean.head())
print("업종-지역별 배달 주문건수") # 날짜 / 업종 / 도 / 시 / 주문건수
display(delivery_job_order_count.head())
print("업종-지역별 평균배달소요시간") # 날짜 / 업종 / 도 / 시 / 평균시간
display(delivery_job_time_mean.head())
print("업종-지역별 평균주문금액") # 날짜 / 업종 / 도 / 시 / 평균주문금액
display(delivery_job_pay_mean.head())
print("주문지역 인구 특성") # 기준연월 / 시군구코드 / 시도명 / 시군구명 / 5세단위구분 / 총인구수 / 남성인구수 / 여성인구수
display(delivery_hum.head())

배달 상점 데이터

,상점ID,업종명,상점코드,시도명,구군명,읍면동명,법정동리명,행정동코드,행정동 읍면동명,도로명주소코드,도로명
0,S0000001,치킨,4817012500,경상남도,진주시,신안동,\N,4817071500,신안동,481704797560,평거로116번길
1,S0000002,치킨,1130510100,서울특별시,강북구,미아동,\N,1130553400,삼양동,113053005042,솔샘로
2,S0000003,카페/디저트,2644010400,부산광역시,강서구,명지동,\N,2644054500,명지2동,264403136044,명지오션시티3로
3,S0000004,한식,1130510100,서울특별시,강북구,미아동,\N,1130555500,송천동,113053005042,솔샘로
4,S0000005,치킨,1130510100,서울특별시,강북구,미아동,\N,1130555500,송천동,113053005041,삼양로

시간-지역별 배달 소요시간평균

           날짜  시간    도        시구   평균시간
0  2019-07-18   0  강원도       속초시  11.38
1  2019-07-18   0  경기도  고양시 일산동구  21.89
2  2019-07-18   0  경기도  고양시 일산서구  21.69
3  2019-07-18   0  경기도      의정부시  19.67
4  2019-07-18   0  경기도       파주시  25.07

시간-지역별 배달 주문건수

           날짜  시간    도        시구  주문건수
0  2019-07-18   0  강원도       속초시     1
1  2019-07-18   0  경기도  고양시 일산동구    15
2  2019-07-18   0  경기도  고양시 일산서구     6
3  2019-07-18   0  경기도      의정부시    65
4  2019-07-18   0  경기도       파주시     2

시간-지역별 배달 평균주문금액

           날짜  시간    도        시구  평균주문금액
0  2019-07-18   0  강원도       속초시   45000
1  2019-07-18   0  경기도  고양시 일산동구   21308
2  2019-07-18   0  경기도  고양시 일산서구   19480
3  2019-07-18   0  경기도      의정부시   25479
4  2019-07-18   0  경기도       파주시   21000

업종-지역별 배달 주문건수

           날짜   업종    도         시  주문건수
0  2019-07-18  도시락  경기도  고양시 일산동구    35
1  2019-07-18  도시락  경기도  고양시 일산서구    19
2  2019-07-18  도시락  경기도       광명시     3
3  2019-07-18  도시락  경기도       부천시     2
4  2019-07-18  도시락  경기도      의정부시    53

업종-지역별 평균배달소요시간

           날짜   업종     도          시   평균시간
0  2019-07-18  도시락   경기도   고양시 일산동구  24.39
1  2019-07-18  도시락   경기도   고양시 일산서구  23.18
2  2019-07-18  도시락   경기도        부천시  10.30
3  2019-07-18  도시락   경기도       의정부시  17.16
4  2019-07-18  도시락  경상남도  창원시 마산회원구  22.40

업종-지역별 평균주문금액

           날짜   업종    도         시  평균주문금액
0  2019-07-18  도시락  경기도  고양시 일산동구   35909
1  2019-07-18  도시락  경기도  고양시 일산서구   29513
2  2019-07-18  도시락  경기도       광명시   75430
3  2019-07-18  도시락  경기도       부천시   26000
4  2019-07-18  도시락  경기도      의정부시   20669

주문지역 인구 특성

     기준연월  시군구코드    시도명 시군구명 5세단위구분  총인구수  남성인구수  여성인구수
0  201801  11110  서울특별시  종로구   0-4세  4070   2054   2016
1  201802  11110  서울특별시  종로구   0-4세  4049   2049   2000
2  201803  11110  서울특별시  종로구   0-4세  4022   2036   1986
3  201804  11110  서울특별시  종로구   0-4세  4008   2025   1983
4  201805  11110  서울특별시  종로구   0-4세  4007   2017   1990

# 사고 관련 데이터 확인

In [4]:
# ./fusion/data/accident
# 전년도도 같이 가져와야 함

accident_kind1 = pd.read_csv('./data/accident/서울시 교통사고 현황 (자동차종류별) 통계.txt', sep="\t")
accident_safe_count = pd.read_csv('./data/accident/서울시 교통안전지수 통계.txt', sep="\t")
accident_safetyproduct = pd.read_csv('./data/accident/서울시 보호장구 착용여부별 교통사고 사상자수 통계.txt', sep="\t")
accident_bike = pd.read_csv('./data/accident/서울시 자전거 교통사고 통계.txt', sep="\t")
accident_kind2 = pd.read_csv('./data/accident/서울시 차량용도별 교통사고 현황 통계.txt', sep="\t")

In [5]:
print("서울시 교통사고 현황 (자동차종류별) 통계")
display(accident_kind1)
print("서울시 교통안전지수 통계")
display(accident_safe_count)
print("서울시 보호장구 착용여부별 교통사고 사상자수 통계")
display(accident_safetyproduct)
print("서울시 자전거 교통사고 통계")
display(accident_bike)
print("서울시 차량용도별 교통사고 현황 통계")
display(accident_kind2)

서울시 교통사고 현황 (자동차종류별) 통계

,기간,자치구,구분,합계,자동차 종류별,자동차 종류별.1,자동차 종류별.2,자동차 종류별.3,자동차 종류별.4,자동차 종류별.5
0,기간,자치구,구분,합계,승용차,승합차,화물차,특수차,이륜차,기타
1,2015,합계,발생건수,"41,665","27,915","2,815","3,117",71,"4,713","3,034"
2,2015,합계,사망자수,376,194,47,38,4,66,27
3,2015,합계,부상자수,"58,656","40,866","4,249","4,299",98,"5,776","3,368"
4,2015,종로구,발생건수,"1,414",919,111,102,2,222,58
...,...,...,...,...,...,...,...,...,...,...
386,2019,송파구,사망자수,13,6,1,1,-,5,-
387,2019,송파구,부상자수,"4,003","2,726",267,291,22,345,352
388,2019,강동구,발생건수,"1,414",863,117,160,13,133,128
389,2019,강동구,사망자수,11,7,-,1,-,3,-
390,2019,강동구,부상자수,"1,910","1,186",166,230,17,172,139

서울시 교통안전지수 통계

      기간   자치구  교통안전지수
0   2019   서울시   78.23
1   2019   종로구   79.77
2   2019    중구   75.09
3   2019   용산구   79.64
4   2019   성동구   79.60
5   2019   광진구   83.22
6   2019  동대문구   74.03
7   2019   중랑구   77.13
8   2019   성북구   81.42
9   2019   강북구   78.66
10  2019   도봉구   81.71
11  2019   노원구   78.94
12  2019   은평구   81.21
13  2019  서대문구   78.58
14  2019   마포구   81.59
15  2019   양천구   79.44
16  2019   강서구   75.36
17  2019   구로구   76.28
18  2019   금천구   79.99
19  2019  영등포구   73.98
20  2019   동작구   79.56
21  2019   관악구   80.75
22  2019   서초구   77.35
23  2019   강남구   71.33
24  2019   송파구   73.37
25  2019   강동구   77.77

서울시 보호장구 착용여부별 교통사고 사상자수 통계

,기간,자치구,구분,전체,안전벨트(좌석안전띠),안전벨트(좌석안전띠).1,안전벨트(좌석안전띠).2,안전벨트(좌석안전띠).3,안전모(헬맷),안전모(헬맷).1,안전모(헬맷).2,안전모(헬맷).3
0,기간,자치구,구분,전체,착용,착용,미착용,착용불명,착용,착용,미착용,착용불명
1,기간,자치구,구분,전체,계,착용률(%),미착용,착용불명,계,착용률(%),미착용,착용불명
2,2019,전체,사망자수,250,12,75,4,7,44,62,27,9
3,2019,전체,부상자수,"53,904","16,490",85.8,"2,738","11,173","6,657",75.8,"2,131","2,129"
4,2019,종로구,사망자수,6,-,-,-,-,-,-,3,-
5,2019,종로구,부상자수,"1,559",506,79.2,133,274,220,88,30,59
6,2019,중구,사망자수,5,1,100,-,-,-,-,-,-
7,2019,중구,부상자수,"1,615",631,88.7,80,216,218,90.5,23,53
8,2019,용산구,사망자수,10,1,100,-,1,2,100,-,-
9,2019,용산구,부상자수,"1,614",265,90.1,29,761,138,90.2,15,109
10,2019,성동구,사망자수,13,1,100,-,-,2,50,2,-
11,2019,성동구,부상자수,"1,439",727,92.4,60,47,286,79.9,72,9
12,2019,광진구,사망자수,3,-,-,-,-,-,-,-,-
13,2019,광진구,부상자수,"1,316",440,86.8,67,237,169,72.5,64,55
14,2019,동대문구,사망자수,15,-,-,-,-,5,71.4,2,2
15,2019,동대문구,부상자수,"1,988",279,75.4,91,424,352,76.7,107,172
16,2019,중랑구,사망자수,12,1,100,-,-,2,66.7,1,-
17,2019,중랑구,부상자수,"2,122",535,85.6,90,275,342,74.8,115,109
18,2019,성북구,사망자수,8,1,100,-,-,1,33.3,2,-
19,2019,성북구,부상자수,"2,007",647,81.7,145,269,334,82.7,70,76
20,2019,강북구,사망자수,7,-,-,-,-,2,50,2,1
21,2019,강북구,부상자수,"1,706",464,78.5,127,220,270,76.3,84,106
22,2019,도봉구,사망자수,4,-,-,-,-,-,-,1,1
23,2019,도봉구,부상자수,"1,163",282,77.7,81,188,155,64.6,85,76
24,2019,노원구,사망자수,8,-,-,-,-,1,100,-,-
25,2019,노원구,부상자수,"2,302",779,86.9,117,435,297,67,146,56
26,2019,은평구,사망자수,7,-,-,-,-,2,50,2,-
27,2019,은평구,부상자수,"1,464",304,72.9,113,252,177,66.8,88,63
28,2019,서대문구,사망자수,14,1,100,-,-,3,60,2,-
29,2019,서대문구,부상자수,"1,609",513,71,210,249,186,77.8,53,59
30,2019,마포구,사망자수,7,1,100,-,-,1,50,1,-
31,2019,마포구,부상자수,"2,123",831,88.8,105,337,262,81.9,58,56
32,2019,양천구,사망자수,11,-,-,1,2,1,100,-,-
33,2019,양천구,부상자수,"2,085",535,87.8,74,472,142,66.7,71,113
34,2019,강서구,사망자수,20,1,100,-,-,5,100,-,1
35,2019,강서구,부상자수,"2,491",472,85,83,827,235,72.3,90,188
36,2019,구로구,사망자수,13,-,-,1,-,3,75,1,-
37,2019,구로구,부상자수,"2,096",545,83.8,105,546,215,67.8,102,87
38,2019,금천구,사망자수,9,-,-,-,2,-,-,2,-
39,2019,금천구,부상자수,"1,353",344,85.4,59,367,177,80.8,42,68
40,2019,영등포구,사망자수,11,2,66.7,1,-,-,-,1,-
41,2019,영등포구,부상자수,"3,451","1,090",83.3,218,551,465,69.9,200,67
42,2019,동작구,사망자수,5,-,-,-,-,2,100,-,-
43,2019,동작구,부상자수,"2,021",628,84.2,118,394,293,83.5,58,61
44,2019,관악구,사망자수,10,-,-,-,-,4,100,-,-
45,2019,관악구,부상자수,"1,755",663,87.5,95,101,380,86.2,61,25
46,2019,서초구,사망자수,14,-,-,-,-,3,100,-,1
47,2019,서초구,부상자수,"3,530","1,250",88.5,162,"1,101",262,80.6,63,97
48,2019,강남구,사망자수,14,-,-,-,1,3,100,-,2
49,2019,강남구,부상자수,"5,182","1,568",94.1,98,"1,739",444,85.2,77,198
50,2019,송파구,사망자수,13,2,66.7,1,1,1,25,3,-
51,2019,송파구,부상자수,"4,003","1,465",90,163,721,462,65.6,242,152
52,2019,강동구,사망자수,11,-,-,-,-,1,33.3,2,1
53,2019,강동구,부상자수,"1,910",727,86.3,115,170,176,60.5,115,15

서울시 자전거 교통사고 통계

      기간    지역   발생건수 사망자수   부상자수
0   2019    합계  3,091   18  3,309
1   2019   종로구     40    1     40
2   2019    중구     31    -     32
3   2019   용산구     30    -     31
4   2019   성동구    119    1    124
5   2019   광진구    107    -    112
6   2019  동대문구    183    2    196
7   2019   중랑구    152    2    160
8   2019   성북구     83    1     80
9   2019   강북구    100    2    104
10  2019   도봉구    117    -    137
11  2019   노원구    200    -    208
12  2019   은평구    119    1    127
13  2019  서대문구     58    1     60
14  2019   마포구     93    -     96
15  2019   양천구    140    1    140
16  2019   강서구    157    1    168
17  2019   구로구     90    1     79
18  2019   금천구     73    1     84
19  2019  영등포구    304    1    352
20  2019   동작구     93    -    111
21  2019   관악구     63    1     65
22  2019   서초구     72    -     79
23  2019   강남구    103    -    113
24  2019   송파구    427    -    476
25  2019   강동구    137    1    135

서울시 차량용도별 교통사고 현황 통계

,기간,자치구,구분,합계,사업용차량,사업용차량.1,사업용차량.2,사업용차량.3,사업용차량.4,사업용차량.5,사업용차량.6,사업용차량.7,비사업용차량,비사업용차량.1,비사업용차량.2,비사업용차량.3,비사업용차량.4,이륜차,자전거,기타불명
0,기간,자치구,구분,합계,계,노선버스,노선버스,전세버스,택시,화물,렌터카,기타,계,승용차,버스,어린이통학버스,기타,이륜차,자전거,기타불명
1,기간,자치구,구분,합계,계,시내버스,시외·고속버스,전세버스,택시,화물,렌터카,기타,계,승용차,버스,어린이통학버스,기타,이륜차,자전거,기타불명
2,2019,합계,발생건수,"39,258","11,591","1,577",238,225,"6,325",912,"2,038",276,"20,208","17,062",273,85,"2,788","4,759","1,766",934
3,2019,합계,사망자수,250,90,13,4,2,38,9,8,16,98,65,1,2,30,50,11,1
4,2019,합계,부상자수,"53,904","16,517","2,133",420,419,"8,931","1,240","3,007",367,"28,440","24,325",350,105,"3,660","6,010","1,950",987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2019,송파구,사망자수,13,3,-,-,1,1,-,1,-,5,4,-,-,1,5,-,-
76,2019,송파구,부상자수,"4,003","1,095",79,39,76,565,94,210,32,"2,245","1,958",30,6,251,345,245,73
77,2019,강동구,발생건수,"1,414",390,73,7,4,200,40,58,8,770,608,11,5,146,133,70,51
78,2019,강동구,사망자수,11,3,-,-,-,2,-,1,-,5,4,-,-,1,3,-,-
79,2019,강동구,부상자수,"1,910",552,104,9,4,274,73,78,10,"1,055",839,14,11,191,172,78,53

# 배달 데이터 전처리 -> 서울 범위 한정

In [6]:
# 배달 상점 데이터 전처리
import pandas as pd

# 데이터 불러오기 
delivery_shop = pd.read_csv('./data/delivery/배달 상점 데이터.csv', header=None)
delivery_shop.columns = ['상점ID', '업종명', '상점코드', '시도명', '구군명', '읍면동명', '법정동리명', '행정동코드', '행정동 읍면동명', '도로명주소코드', '도로명']

# 서울특별시만 걸러내기
delivery_shop_seoul = delivery_shop.groupby('시도명')
# display(delivery_shop_seoul)
df1 = delivery_shop_seoul.get_group('서울특별시')

# 필요없는 컬럼 삭제하기
df1.drop(df1.columns[[0,2,5,6,7,9,10]], axis=1, inplace=True)
display(df1)

# 저장해서 탐색
# df1.to_excel('./data/delivery/배달상점데이터_서울.xlsx')

# 앞으로 나아가야 할 방향 : 업종별로 묶어서, 각 동에 몇 개씩 있는 지를 시각화?

df1 = df1.groupby('행정동 읍면동명')
print(len(df1)) # 행정동 204개 데이터 --> 행정동은 425개임

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         업종명    시도명  구군명 행정동 읍면동명
1         치킨  서울특별시  강북구      삼양동
3         한식  서울특별시  강북구      송천동
4         치킨  서울특별시  강북구      송천동
5         치킨  서울특별시  강남구     역삼1동
6      패스트푸드  서울특별시  성북구     정릉1동
...      ...    ...  ...      ...
42480    심부름  서울특별시  서초구     방배2동
42717     치킨  서울특별시  양천구     신월4동
42718    심부름  서울특별시  강동구       길동
42719    심부름  서울특별시  강동구       길동
42742    테스트  서울특별시  동작구     사당2동

[2018 rows x 4 columns]

208

In [7]:
# 시간-지역별 배달 소요시간평균
import pandas as pd

# 데이터 불러오기
delivery_time_mean = pd.read_csv('./data/delivery/시간-지역별 배달 소요시간평균.csv', header=None)
delivery_time_mean.columns = ['날짜', '시간', '도', '시구', '평균시간']

# 서울특별시만 걸러내기
delivery_time_mean = delivery_time_mean.groupby('도')
df2 = delivery_time_mean.get_group('서울특별시')

# 시간별 구분하자 -> 날짜 컬럼 삭제
df2.drop(df2.columns[0], axis=1, inplace=True)
display(df2)

# 저장해서 데이터 탐색
df2.to_excel('./data/delivery/시간-지역별 배달 소요시간평균_서울.xlsx')

# 앞으로 나아가야할 방향 : 21개 구밖에 없음 (서울시는 25개, 누락값을 두고 진행할지?)

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        시간      도    시구   평균시간
6        0  서울특별시   구로구  22.65
7        0  서울특별시   동작구  22.17
8        0  서울특별시  영등포구  20.41
16       1  서울특별시   구로구  28.09
17       1  서울특별시  영등포구  22.19
...     ..    ...   ...    ...
375208  23  서울특별시   도봉구  22.76
375209  23  서울특별시   양천구  24.33
375210  23  서울특별시  영등포구  24.36
375211  23  서울특별시   용산구  33.07
375212  23  서울특별시   은평구  25.85

[67292 rows x 4 columns]

In [8]:
# 시간-지역별 배달 주문건수
import pandas as pd

# 데이터 불러오기
delivery_time_order_count = pd.read_csv('./data/delivery/시간-지역별 배달 주문건수.csv', header=None)
delivery_time_order_count.columns = ['날짜', '시간', '도', '구', '주문건수']

# 서울특별시만 걸러내기
delivery_time_order_count = delivery_time_order_count.groupby('도')
df3 = delivery_time_order_count.get_group('서울특별시')
display(df3)


# 시간별 구분하자 -> 날짜 컬럼 삭제
df3.drop(df3.columns[0], axis=1, inplace=True)
display(df3)

# 몇 개인지 확인하기
df3 = df3.groupby('구')
print(len(df3)) # 22개 출력  / 서울시 구는 25개임 / 누락값은 어떻게 할지?

                날짜  시간      도     구  주문건수
6       2019-07-18   0  서울특별시   구로구    16
7       2019-07-18   0  서울특별시   동작구     1
8       2019-07-18   0  서울특별시   마포구     3
9       2019-07-18   0  서울특별시  영등포구    14
17      2019-07-18   1  서울특별시   구로구     6
...            ...  ..    ...   ...   ...
381056  2020-08-31  23  서울특별시   도봉구     4
381057  2020-08-31  23  서울특별시   양천구     8
381058  2020-08-31  23  서울특별시  영등포구    44
381059  2020-08-31  23  서울특별시   용산구     1
381060  2020-08-31  23  서울특별시   은평구     9

[69733 rows x 5 columns]

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        시간      도     구  주문건수
6        0  서울특별시   구로구    16
7        0  서울특별시   동작구     1
8        0  서울특별시   마포구     3
9        0  서울특별시  영등포구    14
17       1  서울특별시   구로구     6
...     ..    ...   ...   ...
381056  23  서울특별시   도봉구     4
381057  23  서울특별시   양천구     8
381058  23  서울특별시  영등포구    44
381059  23  서울특별시   용산구     1
381060  23  서울특별시   은평구     9

[69733 rows x 4 columns]

22

In [9]:
# 시간-지역별 배달 평균주문금액
import pandas as pd

# 데이터 불러오기
delivery_time_pay_mean = pd.read_csv('./data/delivery/시간-지역별 배달 평균주문금액.csv', header=None)
delivery_time_pay_mean.columns = ['날짜', '시간', '도', '구', '평균주문금액']

# 서울특별시만 걸러내기
delivery_time_pay_mean = delivery_time_pay_mean.groupby('도')
df4 = delivery_time_pay_mean.get_group('서울특별시')

# 시간별 구분하자 -> 날짜 컬럼 삭제
df4.drop(df4.columns[0], axis=1, inplace=True)
display(df4)

# 몇 개인지 확인하기
df4 = df4.groupby('구')
print(len(df4)) # 20개 출력  / 서울시 구는 25개임 / 누락값은 어떻게 할지?

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        시간      도     구  평균주문금액
6        0  서울특별시   구로구   23679
7        0  서울특별시   동작구   15400
8        0  서울특별시   마포구   21667
9        0  서울특별시  영등포구   20864
17       1  서울특별시   구로구   19667
...     ..    ...   ...     ...
374549  23  서울특별시   도봉구   30600
374550  23  서울특별시   양천구   26557
374551  23  서울특별시  영등포구   18679
374552  23  서울특별시   용산구   20900
374553  23  서울특별시   은평구   24667

[66875 rows x 4 columns]

20

In [10]:
# 업종-지역별 배달 주문건수
import pandas as pd

# 데이터 불러오기
delivery_job_order_count = pd.read_csv('./data/delivery/업종-지역별 배달 주문건수.csv', header=None)
delivery_job_order_count.columns = ['날짜', '업종', '시', '구', '주문건수']

# 서울특별시만 걸러내기
delivery_job_order_count = delivery_job_order_count.groupby('시')
df5 = delivery_job_order_count.get_group('서울특별시')

# 업종별 구분하자 -> 날짜 컬럼 삭제
df5.drop(df5.columns[0], axis=1, inplace=True)
display(df5)

# 몇 개인지 확인하기
df5 = df5.groupby('구')
print(len(df5)) # 22개 출력  / 서울시 구는 25개임 / 누락값은 어떻게 할지?

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

            업종      시     구  주문건수
6          도시락  서울특별시   구로구    12
7          도시락  서울특별시   도봉구     3
14      돈까스/일식  서울특별시   구로구    11
15      돈까스/일식  서울특별시   도봉구     4
16      돈까스/일식  서울특별시  영등포구     5
...        ...    ...   ...   ...
197155      한식  서울특별시   은평구    59
197183       회  서울특별시   구로구    29
197184       회  서울특별시   도봉구     8
197185       회  서울특별시  영등포구     7
197186       회  서울특별시   은평구    52

[34418 rows x 4 columns]

22

In [11]:
# 업종-지역별 평균배달소요시간
import pandas as pd

# 데이터 불러오기
delivery_job_time_mean = pd.read_csv('./data/delivery/업종-지역별 평균배달소요시간.csv', header=None)
delivery_job_time_mean.columns = ['날짜', '업종', '시', '구', '평균시간']

# 서울특별시만 걸러내기
delivery_job_time_mean = delivery_job_time_mean.groupby('시')
df6 = delivery_job_time_mean.get_group('서울특별시')

# 업종별 구분하자 -> 날짜 컬럼 삭제
df6.drop(df6.columns[0], axis=1, inplace=True)
display(df6)

# 몇 개인지 확인하기
df6 = df6.groupby('구')
print(len(df6)) # 21개 출력  / 서울시 구는 25개임 / 누락값은 어떻게 할지?

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

            업종      시     구   평균시간
5          도시락  서울특별시   구로구  16.36
6          도시락  서울특별시   도봉구  20.90
13      돈까스/일식  서울특별시   구로구  24.53
14      돈까스/일식  서울특별시   도봉구  20.02
15      돈까스/일식  서울특별시  영등포구  20.17
...        ...    ...   ...    ...
195949      한식  서울특별시   은평구  31.95
195977       회  서울특별시   구로구  32.48
195978       회  서울특별시   도봉구  29.67
195979       회  서울특별시  영등포구  33.07
195980       회  서울특별시   은평구  30.67

[34074 rows x 4 columns]

21

In [12]:
# 업종-지역별 평균주문금액
import pandas as pd

# 데이터 불러오기
delivery_job_pay_mean = pd.read_csv('./data/delivery/업종-지역별 평균주문금액.csv', header=None)
delivery_job_pay_mean.columns = ['날짜', '업종', '시', '구', '평균주문금액']

# 서울특별시만 걸러내기
delivery_job_pay_mean = delivery_job_pay_mean.groupby('시')
df7 = delivery_job_pay_mean.get_group('서울특별시')

# 업종별 구분하자 -> 날짜 컬럼 삭제
df7.drop(df7.columns[0], axis=1, inplace=True)
display(df7)

# 몇 개인지 확인하기
df7 = df7.groupby('구')
print(len(df7)) # 20개 출력  / 서울시 구는 25개임 / 누락값은 어떻게 할지?

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

            업종      시     구  평균주문금액
6          도시락  서울특별시   구로구   30958
7          도시락  서울특별시   도봉구   31600
14      돈까스/일식  서울특별시   구로구   25591
15      돈까스/일식  서울특별시   도봉구   20375
16      돈까스/일식  서울특별시  영등포구   18750
...        ...    ...   ...     ...
191269      한식  서울특별시   은평구   23913
191297       회  서울특별시   구로구   37332
191298       회  서울특별시   도봉구   29000
191299       회  서울특별시  영등포구   35000
191300       회  서울특별시   은평구   34769

[33178 rows x 4 columns]

20

In [13]:
# 주문지역 인구 특성 - 202006만
import pandas as pd

# 데이터 불러오기
delivery_hum = pd.read_csv('./data/delivery/주문지역 인구 특성.csv', header=None)
delivery_hum.columns = ['기준연월', '시군구코드', '시', '구', '5세단위구분', '총인구수', '남성인구수', '여성인구수']

# 서울특별시만 걸러내기
delivery_hum = delivery_hum.groupby('시')
df8 = delivery_hum.get_group('서울특별시')

# 필요한 컬럼만 남기자 -> 날짜, 시군구코드 삭제
df8.drop(df8.columns[1], axis=1, inplace=True)
# display(df8)

# 몇 개인지 확인하기
# df8 = df8.groupby('구')
# print(len(df8)) # 전체 있는 것 확인 = 25


# 기준연월은 202006으로 가장 최신 / 나이는 20 > 30 > 40 대 순 / 성별은 여자(90퍼) > 남자(82) --> 배달앱 이용 행태 참조

delivery_hum_EDA= df8.groupby('기준연월')
delivery_hum_EDA = delivery_hum_EDA.get_group(202006)
# delivery_hum_EDA = delivery_hum_EDA.filter()

delivery_hum_EDA = delivery_hum_EDA.groupby('5세단위구분')

display(delivery_hum_EDA)

delivery_hum_EDA.to_excel('./data/delivery/서울성별나이별구분.xlsx')

C:\Users\parkgun\anaconda3\envs\pydatavenv\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_excel'

In [ ]:
# 주문지역 인구 특성 - 201907 ~ 202006
import pandas as pd

# 데이터 불러오기
delivery_hum = pd.read_csv('./data/delivery/주문지역 인구 특성.csv', header=None)
delivery_hum.columns = ['기준연월', '시군구코드', '시', '구', '5세단위구분', '총인구수', '남성인구수', '여성인구수']

# 서울특별시만 걸러내기
delivery_hum = delivery_hum.groupby('시')
delivery_hum = delivery_hum.get_group('서울특별시')

# 필요한 컬럼만 남기자 -> si-code 삭제
delivery_hum.drop(delivery_hum.columns[1], axis=1, inplace=True)
# display(delivery_hum)

# 201907부터 202006까지 데이터 추출
delivery_hum_EDA = delivery_hum[delivery_hum['기준연월'] > 201906]
# 요건 boolin형
# delivery_hum_EDA = delivery_hum['year'] > 201906


delivery_hum_EDA = delivery_hum_EDA.groupby('5세단위구분')
delivery_hum_EDA = delivery_hum_EDA.get_group('20-24세')

display(delivery_hum_EDA)

delivery_hum_EDA.to_excel('./data/delivery/서울성별나이별구분_201907.xlsx')

In [ ]:
# 주문지역 주거 특성
import pandas as pd

# 데이터 불러오기
delivery_home = pd.read_csv('./data/delivery/주문지역 주거 특성.csv', header=None)
delivery_home.columns = ['기준년', '시군구코드', '시', '구', '세대구성대분류', '세대구성중분류', '세대구성소분류', '단위', '빈도수']

# 서울특별시만 걸러내기
delivery_home = delivery_home.groupby('시')
df9 = delivery_home.get_group('서울특별시')

# 필요한 컬럼만 남기자 -> 날짜, 시군구코드 삭제
df9.drop(df9.columns[1], axis=1, inplace=True)

display(df9)

# 사고 데이터 전처리

In [4]:
# 서울시 교통사고 현황 (자동차종류별) 통계
import pandas as pd

# 데이터 불러오기
accident_kind1 = pd.read_csv('./data/accident/서울시 교통사고 현황 (자동차종류별) 통계.txt', sep="\t", header=1)

# 데이터 확인
accident_kind1.drop(accident_kind1.columns[[3,4,5,6,7,9]], axis=1, inplace=True)
# display(accident_kind1)

# 연도별 합계로 시각화하자 // 기간(연도) -> 자치구(합계) -> 구분(발생건수) -> 이륜차
data_classify = accident_kind1.groupby('구분')
data_classify = data_classify.get_group('발생건수')

data_classify2 = data_classify.groupby('자치구')
data_classify_fianl = data_classify2.get_group('합계')

data_classify_fianl.to_excel('./data/accident/서울시 교통사고 현황 (자동차종류별) 통계_전처리.xlsx')

In [5]:
# 서울시 교통안전지수 통계
import pandas as pd

# 데이터 불러오기
accident_safe_count = pd.read_csv('./data/accident/서울시 교통안전지수 통계.txt', sep="\t")

# 합계 지우기
accident_safe_count.drop(0, axis=0, inplace=True)

# 데이터 저장
accident_safe_count.to_excel('./data/accident/서울시 교통안전지수 통계_전처리.xlsx')

# 데이터 확인 // 구 단위
display(accident_safe_count)

      기간   자치구  교통안전지수
1   2019   종로구   79.77
2   2019    중구   75.09
3   2019   용산구   79.64
4   2019   성동구   79.60
5   2019   광진구   83.22
6   2019  동대문구   74.03
7   2019   중랑구   77.13
8   2019   성북구   81.42
9   2019   강북구   78.66
10  2019   도봉구   81.71
11  2019   노원구   78.94
12  2019   은평구   81.21
13  2019  서대문구   78.58
14  2019   마포구   81.59
15  2019   양천구   79.44
16  2019   강서구   75.36
17  2019   구로구   76.28
18  2019   금천구   79.99
19  2019  영등포구   73.98
20  2019   동작구   79.56
21  2019   관악구   80.75
22  2019   서초구   77.35
23  2019   강남구   71.33
24  2019   송파구   73.37
25  2019   강동구   77.77

In [6]:
# 서울시 보호장구 착용여부별 교통사고 사상자수 통계
import pandas as pd

# 데이터 불러오기 // 구 단위
accident_safetyproduct = pd.read_csv('./data/accident/서울시 보호장구 착용여부별 교통사고 사상자수 통계.txt', sep="\t")

# 필요없는 컬럼 제거
accident_safetyproduct.drop(accident_safetyproduct.columns[[4,5,6,7]], axis=1, inplace=True)
display(accident_safetyproduct)

## 딱봐도 이건 아니다.. // 착용한 사람 사망자수와 부상자수가 더 많음 // 아니 왜 섞어놨지?
accident_safetyproduct.to_excel('./data/accident/서울시 보호장구 착용여부별 교통사고 사상자수 통계_전처리.xlsx')

      기간   자치구    구분      전체 안전모(헬맷) 안전모(헬맷).1 안전모(헬맷).2 안전모(헬맷).3
0     기간   자치구    구분      전체      착용        착용       미착용      착용불명
1     기간   자치구    구분      전체       계    착용률(%)       미착용      착용불명
2   2019    전체  사망자수     250      44        62        27         9
3   2019    전체  부상자수  53,904   6,657      75.8     2,131     2,129
4   2019   종로구  사망자수       6       -         -         3         -
5   2019   종로구  부상자수   1,559     220        88        30        59
6   2019    중구  사망자수       5       -         -         -         -
7   2019    중구  부상자수   1,615     218      90.5        23        53
8   2019   용산구  사망자수      10       2       100         -         -
9   2019   용산구  부상자수   1,614     138      90.2        15       109
10  2019   성동구  사망자수      13       2        50         2         -
11  2019   성동구  부상자수   1,439     286      79.9        72         9
12  2019   광진구  사망자수       3       -         -         -         -
13  2019   광진구  부상자수   1,316     169      72.5        64        55
14  2019  동대문구  사망자수      15       5      71.4         2         2
15  2019  동대문구  부상자수   1,988     352      76.7       107       172
16  2019   중랑구  사망자수      12       2      66.7         1         -
17  2019   중랑구  부상자수   2,122     342      74.8       115       109
18  2019   성북구  사망자수       8       1      33.3         2         -
19  2019   성북구  부상자수   2,007     334      82.7        70        76
20  2019   강북구  사망자수       7       2        50         2         1
21  2019   강북구  부상자수   1,706     270      76.3        84       106
22  2019   도봉구  사망자수       4       -         -         1         1
23  2019   도봉구  부상자수   1,163     155      64.6        85        76
24  2019   노원구  사망자수       8       1       100         -         -
25  2019   노원구  부상자수   2,302     297        67       146        56
26  2019   은평구  사망자수       7       2        50         2         -
27  2019   은평구  부상자수   1,464     177      66.8        88        63
28  2019  서대문구  사망자수      14       3        60         2         -
29  2019  서대문구  부상자수   1,609     186      77.8        53        59
30  2019   마포구  사망자수       7       1        50         1         -
31  2019   마포구  부상자수   2,123     262      81.9        58        56
32  2019   양천구  사망자수      11       1       100         -         -
33  2019   양천구  부상자수   2,085     142      66.7        71       113
34  2019   강서구  사망자수      20       5       100         -         1
35  2019   강서구  부상자수   2,491     235      72.3        90       188
36  2019   구로구  사망자수      13       3        75         1         -
37  2019   구로구  부상자수   2,096     215      67.8       102        87
38  2019   금천구  사망자수       9       -         -         2         -
39  2019   금천구  부상자수   1,353     177      80.8        42        68
40  2019  영등포구  사망자수      11       -         -         1         -
41  2019  영등포구  부상자수   3,451     465      69.9       200        67
42  2019   동작구  사망자수       5       2       100         -         -
43  2019   동작구  부상자수   2,021     293      83.5        58        61
44  2019   관악구  사망자수      10       4       100         -         -
45  2019   관악구  부상자수   1,755     380      86.2        61        25
46  2019   서초구  사망자수      14       3       100         -         1
47  2019   서초구  부상자수   3,530     262      80.6        63        97
48  2019   강남구  사망자수      14       3       100         -         2
49  2019   강남구  부상자수   5,182     444      85.2        77       198
50  2019   송파구  사망자수      13       1        25         3         -
51  2019   송파구  부상자수   4,003     462      65.6       242       152
52  2019   강동구  사망자수      11       1      33.3         2         1
53  2019   강동구  부상자수   1,910     176      60.5       115        15

In [7]:
# 서울시 자전거 교통사고 통계
import pandas as pd

# 데이터 불러오기
accident_bike = pd.read_csv('./data/accident/서울시 자전거 교통사고 통계.txt', sep="\t")

# 합계 지우기
accident_bike.drop(0, axis=0, inplace=True)

# 데이터 확인
display(accident_bike)

# 데이터 저장
accident_bike.to_excel('./data/accident/서울시 자전거 교통사고 통계_전처리.xlsx')

      기간    지역 발생건수 사망자수 부상자수
1   2019   종로구   40    1   40
2   2019    중구   31    -   32
3   2019   용산구   30    -   31
4   2019   성동구  119    1  124
5   2019   광진구  107    -  112
6   2019  동대문구  183    2  196
7   2019   중랑구  152    2  160
8   2019   성북구   83    1   80
9   2019   강북구  100    2  104
10  2019   도봉구  117    -  137
11  2019   노원구  200    -  208
12  2019   은평구  119    1  127
13  2019  서대문구   58    1   60
14  2019   마포구   93    -   96
15  2019   양천구  140    1  140
16  2019   강서구  157    1  168
17  2019   구로구   90    1   79
18  2019   금천구   73    1   84
19  2019  영등포구  304    1  352
20  2019   동작구   93    -  111
21  2019   관악구   63    1   65
22  2019   서초구   72    -   79
23  2019   강남구  103    -  113
24  2019   송파구  427    -  476
25  2019   강동구  137    1  135

In [8]:
# 서울시 차량용도별 교통사고 현황 통계
import pandas as pd

# 데이터 불러오기
accident_kind2 = pd.read_csv('./data/accident/서울시 차량용도별 교통사고 현황 통계.txt', sep="\t")

# 데이터 전처리
# 1. 필요없는 컬럼 제거
accident_kind2.drop(accident_kind2.columns[[3,4,5,6,7,8,9,10,11,12,13,14,15,16,19]], axis=1, inplace=True)

# 2. 필요없는 행 제거
accident_kind2.drop(accident_kind2.index[[0,1,2,3,4]], axis=0, inplace=True)

# 3. 구분 컬럼으로 묶은 뒤, 발생건수만 출력
accident_kind2 = accident_kind2.groupby('구분')
accident_kind2_EDA = accident_kind2.get_group('발생건수')

# 확인
display(accident_kind2_EDA)

# 데이터 저장
accident_kind2_EDA.to_excel('./data/accident/서울시 차량용도별 교통사고 현황 통계_전처리.xlsx')

      기간   자치구    구분  이륜차  자전거
5   2019   종로구  발생건수  138   19
8   2019    중구  발생건수  148   23
11  2019   용산구  발생건수  108   22
14  2019   성동구  발생건수  142   63
17  2019   광진구  발생건수  122   61
20  2019  동대문구  발생건수  265  110
23  2019   중랑구  발생건수  254   99
26  2019   성북구  발생건수  239   37
29  2019   강북구  발생건수  207   57
32  2019   도봉구  발생건수  145   62
35  2019   노원구  발생건수  198  119
38  2019   은평구  발생건수  150   62
41  2019  서대문구  발생건수  150   48
44  2019   마포구  발생건수  174   52
47  2019   양천구  발생건수  141   70
50  2019   강서구  발생건수  230   72
53  2019   구로구  발생건수  171   71
56  2019   금천구  발생건수  127   40
59  2019  영등포구  발생건수  281  189
62  2019   동작구  발생건수  217   53
65  2019   관악구  발생건수  216   43
68  2019   서초구  발생건수  185   46
71  2019   강남구  발생건수  337   60
74  2019   송파구  발생건수  281  218
77  2019   강동구  발생건수  133   70

# 시간-업종 데이터 통합 전처리 (회귀분석용)

In [9]:
import pandas as pd

# 서울 소요시간 평균
delivery_time_mean = pd.read_csv('./data/delivery/시간-지역별 배달 소요시간평균.csv', header=None)
delivery_time_mean.columns = ['날짜', '시간', '시', '구', '평균시간']
delivery_time_mean = delivery_time_mean.groupby('시')
delivery_time_mean = delivery_time_mean.get_group('서울특별시')

# 서울 주문건수 평균
delivery_time_order_count = pd.read_csv('./data/delivery/시간-지역별 배달 주문건수.csv', header=None)
delivery_time_order_count.columns = ['날짜', '시간', '시', '구', '주문건수']
delivery_time_order_count = delivery_time_order_count.groupby('시')
delivery_time_order_count = delivery_time_order_count.get_group('서울특별시')

# 서울 주문금액 평균
delivery_time_pay_mean = pd.read_csv('./data/delivery/시간-지역별 배달 평균주문금액.csv', header=None)
delivery_time_pay_mean.columns = ['날짜', '시간', '시', '구', '평균주문금액']
delivery_time_pay_mean = delivery_time_pay_mean.groupby('시')
delivery_time_pay_mean = delivery_time_pay_mean.get_group('서울특별시')


# 데이터개수가 안맞음
# display(delivery_time_mean) # 67292
# display(delivery_time_order_count) # 69733
# display(delivery_time_pay_mean) # 66875

# int를 str로 변환
delivery_time_mean['시간'] = delivery_time_mean['시간'].astype('str') 
delivery_time_order_count['시간'] = delivery_time_order_count['시간'].astype('str') 
delivery_time_pay_mean['시간'] = delivery_time_pay_mean['시간'].astype('str') 

# 일단 합쳐보자 --> 마지막에 66875개보다 작아야 함
#각 데이터프레임의 날짜+시간+시+구 를 unique 코드로 만든 다음 컬럼 생성 
delivery_time_mean['식별인자'] = delivery_time_mean['날짜'] + delivery_time_mean['시간'] + delivery_time_mean['시'] + delivery_time_mean['구']
delivery_time_order_count['식별인자'] = delivery_time_order_count['날짜'] + delivery_time_order_count['시간'] + delivery_time_order_count['시'] + delivery_time_order_count['구']
delivery_time_pay_mean['식별인자'] = delivery_time_pay_mean['날짜'] + delivery_time_pay_mean['시간'] + delivery_time_pay_mean['시'] + delivery_time_pay_mean['구']
# 이것을 기준으로 merge how='inner'
df = pd.merge(delivery_time_mean, delivery_time_order_count, how='inner', on='식별인자')
df = pd.merge(df, delivery_time_pay_mean, how='inner', on='식별인자')

df.drop(df.columns[[5,6,7,8,9,11,12,13,14]],axis=1,inplace=True)
df.rename(columns = {'날짜_x':'날짜', '시간_x':'시간','시_x':'시', '구_x':'구'}, inplace=True)
display(df)

df.to_excel('./data/delivery/서울시간별통합파일.xlsx')

               날짜  시간      시     구   평균시간  주문건수  평균주문금액
0      2019-07-18   0  서울특별시   구로구  22.65    16   23679
1      2019-07-18   0  서울특별시   동작구  22.17     1   15400
2      2019-07-18   0  서울특별시  영등포구  20.41    14   20864
3      2019-07-18   1  서울특별시   구로구  28.09     6   19667
4      2019-07-18   1  서울특별시  영등포구  22.19     8   18625
...           ...  ..    ...   ...    ...   ...     ...
64642  2020-08-31  23  서울특별시   도봉구  22.76     4   30600
64643  2020-08-31  23  서울특별시   양천구  24.33     8   26557
64644  2020-08-31  23  서울특별시  영등포구  24.36    44   18679
64645  2020-08-31  23  서울특별시   용산구  33.07     1   20900
64646  2020-08-31  23  서울특별시   은평구  25.85     9   24667

[64647 rows x 7 columns]

In [10]:
delivery_job_order_count = pd.read_csv('./data/delivery/업종-지역별 배달 주문건수.csv', header=None)
delivery_job_order_count.columns = ['날짜', '업종', '시', '구', '주문건수']
delivery_job_order_count = delivery_job_order_count.groupby('시')
delivery_job_order_count = delivery_job_order_count.get_group('서울특별시')

delivery_job_time_mean = pd.read_csv('./data/delivery/업종-지역별 평균배달소요시간.csv', header=None)
delivery_job_time_mean.columns = ['날짜', '업종', '시', '구', '평균시간']
delivery_job_time_mean = delivery_job_time_mean.groupby('시')
delivery_job_time_mean = delivery_job_time_mean.get_group('서울특별시')

delivery_job_pay_mean = pd.read_csv('./data/delivery/업종-지역별 평균주문금액.csv', header=None)
delivery_job_pay_mean.columns = ['날짜', '업종', '시', '구', '평균주문금액']
delivery_job_pay_mean = delivery_job_pay_mean.groupby('시')
delivery_job_pay_mean = delivery_job_pay_mean.get_group('서울특별시')

# 데이터 개수가 안맞음
# display(delivery_job_order_count) # 34418
# display(delivery_job_time_mean) # 34074
# display(delivery_job_pay_mean) # 33178 

# 일단 합쳐보자 --> 마지막에 33178 개보다 작아야 함
#각 데이터프레임의 날짜+업종+시+구 를 unique 코드로 만든 다음 컬럼 생성 
delivery_job_order_count['식별인자'] = delivery_job_order_count['날짜'] + delivery_job_order_count['업종'] + delivery_job_order_count['시'] + delivery_job_order_count['구']
delivery_job_time_mean['식별인자'] = delivery_job_time_mean['날짜'] + delivery_job_time_mean['업종'] + delivery_job_time_mean['시'] + delivery_job_time_mean['구']
delivery_job_pay_mean['식별인자'] = delivery_job_pay_mean['날짜'] + delivery_job_pay_mean['업종'] + delivery_job_pay_mean['시'] + delivery_job_pay_mean['구']
# 이것을 기준으로 merge how='inner'
df = pd.merge(delivery_job_order_count, delivery_job_time_mean, how='inner', on='식별인자')
df = pd.merge(df, delivery_job_pay_mean, how='inner', on='식별인자')
# 32917 개

# 열 삭제 및 열 이름 변경
df.drop(df.columns[[5,6,7,8,9,11,12,13,14]],axis=1,inplace=True)
df.rename(columns = {'날짜_x':'날짜', '업종_x':'업종','시_x':'시', '구_x':'구'}, inplace=True)
display(df)

df.to_excel('./data/delivery/서울업종별통합파일.xlsx')

               날짜      업종      시     구  주문건수   평균시간  평균주문금액
0      2019-07-18     도시락  서울특별시   구로구    12  16.36   30958
1      2019-07-18     도시락  서울특별시   도봉구     3  20.90   31600
2      2019-07-18  돈까스/일식  서울특별시   구로구    11  24.53   25591
3      2019-07-18  돈까스/일식  서울특별시   도봉구     4  20.02   20375
4      2019-07-18  돈까스/일식  서울특별시  영등포구     5  20.17   18750
...           ...     ...    ...   ...   ...    ...     ...
32912  2020-08-31      한식  서울특별시   은평구    59  31.95   23913
32913  2020-08-31       회  서울특별시   구로구    29  32.48   37332
32914  2020-08-31       회  서울특별시   도봉구     8  29.67   29000
32915  2020-08-31       회  서울특별시  영등포구     7  33.07   35000
32916  2020-08-31       회  서울특별시   은평구    52  30.67   34769

[32917 rows x 7 columns]

# 고용 데이터 확인

In [11]:
insurance_data = pd.read_csv('./data/employment/근로복지공단_근로복지지원현황_20191031.csv', encoding='cp949')

display(insurance_data.head())

     기준년월   처리지사코드   금융지원구분   지원자수       지원금액    적재기준일자                 적재일시
0  201901     6120        4     22  148480000  20191017  2019/10/18 05:55:55
1  201901     2021        4     34  185000000  20191017  2019/10/18 05:55:55
2  201901     7001        4     20  113640000  20191017  2019/10/18 05:55:55
3  201901     5160        4     67  437300000  20191017  2019/10/18 05:55:55
4  201901     3001        4     44  292600000  20191017  2019/10/18 05:55:55